@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Poppins', sans-serif;
}

li{
  list-style: none;
  cursor: pointer;
  position: relative;
}
li:hover::before,.activeNav::before{
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  background: #ee6134;
  right: 0;
  color: #ee6134;
  bottom: -10px;
}
.activeNav{
  color: #ee6134;
}
.icon{
  cursor: pointer;
}
/* .card{
  background: #000;
} */